@use '../../../../assets/styles/auth';

.password-monitor {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 0.8rem;
  margin-top: -1rem;
  max-height: 0;
  overflow: hidden;
  transition:
    max-height 0.3s ease,
    margin 0.3s ease;

  &.visible {
    max-height: 10rem;
    margin-bottom: 1rem;
  }

  p {
    font-size: 1.2rem;
    color: rgba(255, 255, 255, 0.3);
    position: relative;
    padding-left: 1.5rem;
    transition: color 0.3s;

    &::before {
      content: '✕';
      position: absolute;
      left: 0;
    }

    &.valid {
      color: var(--primary);
      &::before {
        content: '✓';
      }
    }
  }
}
