:root {
  --primary: #fc4747;
  --secondary: #5a698f;

  --bg-primary: #10141e;
  --bg-secondary: #161d2f;

  --white: #fff;
  --text-color: var(--white);

  --font-primary: 'Outfit', sans-serif;

  --px: 1.6rem;

  @media (min-width: 768px) {
    --px: 2.5rem;
  }

  @media (min-width: 1440px) {
    --px: 3.2rem;
  }
}

.media-grid {
  display: grid;
  gap: 1.6rem;

  grid-template-columns: 1fr 1fr;

  @media (min-width: 768px) {
    grid-template-columns: 1fr 1fr 1fr;
    gap: 2.9rem;
  }

  @media (min-width: 1440px) {
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 4rem;
  }
}

.section-title {
  font-size: 2rem;
  font-weight: 300;
  letter-spacing: -0.5px;
  color: var(--text-color);

  @media (min-width: 768px) {
    font-size: 3.2rem;
  }
}
