:root {
  --primary: #fc4747;
  --secondary: #5a698f;

  --bg-primary: #10141e;
  --bg-secondary: #161d2f;

  --white: #fff;
  --text-color: var(--white);

  --font-primary: 'Outfit', sans-serif;

  --px: 1.6rem;

  @media (min-width: 768px) {
    --px: 2.5rem;
  }

  @media (min-width: 1440px) {
    --px: 3.2rem;
  }
}
