<div class="media" [class.trending]="trending()">
  <div class="thumbnail-wrapper">
    <picture>
      <source media="(min-width: 1024px)" [srcset]="media().thumbnail.regular.large" />
      <source media="(min-width: 768px)" [srcset]="media().thumbnail.regular.medium" />
      <img
        class="thumbnail"
        [src]="media().thumbnail.regular.small"
        [alt]="`Thumbnail of ${media().title}`"
      />
    </picture>

    <button
      type="button"
      class="bookmark-btn"
      [class.bookmarked]="media().isBookmarked"
      (click)="toggle()"
    >
      <img src="assets/images/shared/icon-bookmark-empty.svg" alt="Bookmark" />
    </button>

    <button type="button" class="play-btn" [routerLink]="['/movie', media().id]">
      <img src="assets/images/shared/icon-play.svg" alt="Play" />
      Play
    </button>
  </div>

  <div class="media-description">
    <div class="media-info">
      <span class="media-info-block">{{ media().year }}</span>
      <span class="dot"></span>
      <span class="media-info-block category-icon">
        <img
          [src]="
            `assets/images/shared/icon-nav-${media().category === 'Movie' ? 'movies' : 'tv-series'}.svg`
          "
          alt="Category"
        />
        {{ media().category }}</span
      >
      <span class="dot"></span>
      <span class="media-info-block">{{ media().rating }}</span>
    </div>

    <p class="media-title">{{ media().title }}</p>
  </div>
</div>
